<div class="row">
<h4>Search results for <span class="color-primary"><%= @query %></span><br></h4>
<%= render 'shared/find_song', playlist_id: @playlist.id %>
</div>

<% @results.data.items.each do |result| %>
    <div class="row search-result">
            <div class="small-6 columns">
                <img src="<%= result.snippet.thumbnails.default.url %>">
            </div>
            <div class="small-6 columns">
                <span class="color-primary"><%= result.snippet.title %></span><br>
                <span><%= result.statistics.viewCount %> views</span><br>
                <span>Rating: <%= rating_percentage(result.statistics.likeCount, result.statistics.dislikeCount)%></span><br>
                <%= form_tag playlist_path(@playlist),
                             method: 'patch',
                             remote: true,
                             class: "no-margin inline" do %>
                    <%= hidden_field_tag :youtube_id, result.id %>
                    <%= hidden_field_tag :track_title, result.snippet.title %>
                    <%= hidden_field_tag :playlist_id, @playlist.id %>
                    <%= submit_tag "Add to Playlist", class: "tiny button" %>
                    <%= submit_tag "Play Now", class: "tiny button"  %>
                <% end %>
            </div>
    </div>
<% end %>
