<% provide :title, @playlist.name %>
<div class="row">
  <div class="large-6 large-centered columns">
    <div class="playlist-container">
      <h4 class="color-primary"><%= @playlist.name %></h4>

      <b>Share this link with your friends:</b><br>
      <%= URI.join(root_url, search_playlist_path(@playlist.id)) %><br><br>

      <% content_for :head do %>
        <%= javascript_include_tag 'swfobject' %>
        <%= javascript_include_tag 'jquery.cookie' %>
        <%= javascript_include_tag 'youtube_player' %>
        <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
      <% end %>
      <div id="ytplayercontainer" class="ytplayercontainer">
          You need Flash player 8+ and JavaScript enabled to view this video.
      </div>
    </div>
  </div>
</div>